body {
  font-family: Arial, sans-serif;
  background-color: #da1111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}


.container h1{
  background-color: #0056b3;
  color: white;
  text-align: center;
}
input {
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.weather-display {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: left;
}

.weather-display p {
  margin: 10px 0;
}

.weather-display i {
  margin-right: 10px;
  color: #007BFF;
}
